

$color__background-body: #fff;
$color__background-hr: #bababa;

$color__text-input: #666;
$color__text-input-focus: #121212;

$color__link: #4E00A9;
$color__link-visited: #4E00A9;
$color__link-hover: #121212;

$color__text-main: #121212;

$color_bg_white : #ffffff;


/* MINE */

$color_text_primary : #4E00A9;
$color_text_secondary : #faf207;
$color_text_light : #cccccc;

$color_bg_primary : #4E00A9;
$color_bg_secondary : #faf207;

$color_bg_grey : #EEEEEE;
$color_bg_dark : #304084;

$color_bg_transparent:#4f00a9d4;