html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template,
.edit-link {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

img, iframe {
  max-width: 100%;
}

a,
h1, h2, h3, h4, h5, h6,
span,
small,
i,
p,
ul,
li,
img,
*:before,
*:after,
input,
button,
select,
textarea,
.thumb,
img,
header,
section,
footer {
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
}

/* MINE */
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight_italic';
  src: url("../fonts/poppins-lightitalic-webfont.woff2") format("woff2"), url("../fonts/poppins-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsitalic';
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"), url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"), url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes animate_bg_only {
  from {
    background-size: 100%;
  }
  to {
    background-size: 120%;
  }
}

@-webkit-keyframes animate_bg_only {
  0% {
    background-size: 100%;
  }
  30% {
    background-size: 105%;
  }
  60% {
    background-size: 110%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes animate_header {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}

@-webkit-keyframes animate_header {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}

@media all and (min-width: 1300px) {
  div.row {
    margin-right: -30px;
    margin-left: -30px;
  }
  .row [class*="col-"] {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media all and (min-width: 768px) and (max-width: 1299px) {
  div.row {
    margin-right: -20px;
    margin-left: -20px;
  }
  .row [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media all and (max-width: 767px) {
  div.row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.cf {
  float: left;
  width: 100%;
  clear: both;
}

.cf::before {
  content: "";
  clear: both;
  display: block;
}

.cf::after {
  content: "";
  clear: both;
  display: block;
}

.cf_spacer {
  padding: 3em 0;
}

.center {
  margin: 0 auto;
  max-width: 1145px;
}

.flexbox-contaniner {
  max-width: 1145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flexbox-content .center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.flexbox-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.flexbox-item + .flexbox-item {
  text-align: right;
}

header .flexbox-item {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flexbox-table {
  display: table;
  height: 600px;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.flexbox-tabel-cell {
  display: table-cell;
  height: 100%;
  margin: auto;
  width: 50%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexbox-table-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4em;
}

.flexbox-tabel-cell + .flexbox-tabel-cell .flexbox-table-content {
  text-align: right;
}

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #121212;
  font-family: "poppinslight";
  font-size: 24px;
  font-weight: normal;
  letter-spacing: .08em;
}

.awesome:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  color: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-bottom: 0;
}

h1 {
  font-size: 59px;
  font-family: "poppinsextrabold";
  line-height: 1.1em;
  color: #faf207;
}

h2 {
  font-size: 40px;
  font-family: "poppinsextrabold";
  line-height: 1em;
  color: #4E00A9;
  letter-spacing: .08em;
}

h3 {
  font-size: 36px;
  font-family: "poppinssemibold";
  line-height: 1em;
}

h4 {
  font-size: 30px;
  font-family: "poppinsextrabold";
  line-height: 1em;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

p {
  margin-bottom: 0;
}

p + p {
  margin-top: .9em;
}

p + h3 {
  margin-top: .9em;
}

dfn,
cite,
em,
i {
  font-family: "poppinslight_italic";
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

abbr,
acronym {
  cursor: help;
}

mark,
ins {
  text-decoration: none;
}

big {
  font-size: 125%;
}

strong, b {
  font-family: "poppinssemibold";
}

/*
MINE
*/
[class*="txt-primary"] {
  color: #4E00A9;
}

[class*="txt-secondary"] {
  color: #faf207;
}

[class*="bgs-primary"] {
  background-color: #4E00A9;
  color: #fff;
}

[class*="bgs-secondary"] {
  background-color: #faf207;
}

.bgs-dark {
  background-color: #304084;
}

.bgs-white {
  background-color: #ffffff;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

::-moz-selection {
  background: #faf207;
  color: #121212;
}

::selection {
  background: #faf207;
  color: #121212;
}

body hr, hr:not([size]) {
  background-color: #bababa;
  border: 0;
  height: 5px;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  line-height: 0;
}

figure {
  margin: 1em 0;
}

.thumb {
  float: left;
  width: 100%;
  clear: both;
  position: relative;
  line-height: 0;
  overflow: hidden;
}

.thumb img {
  width: 100%;
}

.row_folio .thumb {
  min-height: 400px;
}

.overlay {
  background-color: #4f00a9d4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  line-height: 1;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.overlay::before {
  color: #fff;
  content: "Have a look";
  letter-spacing: .2em;
  font-family: "poppinsmedium";
  font-size: .8em;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-decoration: underline;
  position: absolute;
  bottom: 60px;
  right: 3em;
}

div:hover > .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

div:hover > .overlay::before {
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #4E00A9;
}

a:visited {
  color: #4E00A9;
}

a:hover, a:focus, a:active {
  color: #121212;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

.text-white a {
  color: #fff;
}

.text-white a:hover {
  color: #faf207;
}

a.readmore[class] {
  color: #faf207;
  text-transform: uppercase;
}

a.readmore[class]:hover {
  color: #4E00A9;
}

/* Forms
--------------------------------------------- */
button,
body input[type="submit"],
body input[type="button"],
body input[id][class][type="submit"],
body input[id][class][type="button"],
body button[class][class] {
  background-color: #4E00A9;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-size: 14px;
  padding: 0.5em;
  line-height: 1;
}

button:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body input[id][class][type="submit"]:hover,
body input[id][class][type="button"]:hover,
body button[class][class]:hover {
  background-color: #faf207;
}

button:active, button:focus,
body input[type="submit"]:active,
body input[type="submit"]:focus,
body input[type="button"]:active,
body input[type="button"]:focus,
body input[id][class][type="submit"]:active,
body input[id][class][type="submit"]:focus,
body input[id][class][type="button"]:active,
body input[id][class][type="button"]:focus,
body button[class][class]:active,
body button[class][class]:focus {
  background-color: #faf207;
}

.bt-sm {
  background-color: #4E00A9;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-size: 10px;
  padding: 3px 8px 3px 8px;
}

.bt-sm:hover {
  background-color: #faf207;
}

.bt-md {
  background-color: #4E00A9;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-size: 14px;
  padding: 6px 8px 6px 8px;
}

.bt-md:hover {
  background-color: #faf207;
}

.bt-full {
  background-color: #4E00A9;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-size: 1em;
  padding: 1.1em 0.5em 1.1em 1.5em;
  float: left;
  width: 100%;
  clear: both;
  position: relative;
}

.bt-full::before {
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  height: 100%;
  bottom: 0;
  background-color: #faf207;
}

.bt-full:visited {
  color: #fff;
}

.bt-full:hover, .bt-full:focus {
  color: #faf207;
}

.bt-full:hover::before {
  width: 10%;
}

.bt-full strong {
  text-decoration: underline;
}

.bgs-secondary[class*="bt"] {
  background-color: #faf207;
}

.bgs-secondary[class*="bt"]:hover {
  background-color: #4E00A9;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  text-indent: 5px;
  font-family: "poppinslight";
  background: #fff;
  line-height: 1;
  padding: 0.5em;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
}

/* Navigation
--------------------------------------------- */
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 1px;
  display: block;
}

nav section {
  font-family: "poppinsregular";
  border-bottom: 5px solid #fff;
  padding-bottom: 0.4em;
  padding-top: 2em;
  max-width: 1145px;
  margin: 0 auto;
}

nav .signature_dark {
  display: none;
  margin-top: 8px;
  margin-bottom: 5px;
}

nav .signature_dark img {
  max-height: 60px;
}

nav .signature {
  line-height: 0;
}

nav .signature img {
  max-width: 417px;
}

nav ul {
  text-align: right;
  line-height: 1;
  margin-top: 3.5em;
}

nav ul li {
  display: inline-block;
  margin-right: 2.8em;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover, nav ul li a:focus {
  color: #faf207;
}

nav p {
  display: none;
}

.hamburger {
  display: none;
}

@media all and (min-width: 1000px) {
  nav.shrunk {
    opacity: 0.9;
    background: #4100a3;
    background: -webkit-gradient(linear, right top, left top, from(#4100a3), color-stop(24%, #4100a3), to(#faf207));
    background: linear-gradient(-90deg, #4100a3 0%, #4100a3 24%, #faf207 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4100a3",endColorstr="#faf207",GradientType=1);
    letter-spacing: 0em;
  }
  nav.shrunk a.signature {
    display: none;
  }
  nav.shrunk a.signature_dark {
    display: block;
  }
  nav.shrunk section {
    border-width: 0;
    padding: 0;
  }
  nav.shrunk ul {
    margin-top: 0;
  }
  nav.shrunk ul li {
    margin-right: 0;
  }
  nav.shrunk ul li ~ li {
    margin-left: 2em;
  }
  nav.shrunk ul li a {
    padding-top: 1.1em;
    padding-bottom: 0.8em;
    font-size: 1em;
  }
  nav.shrunk ul li a:hover {
    color: #fff;
    opacity: 0.6;
  }
}

@media all and (min-width: 270px) and (max-width: 999px) {
  nav section {
    max-width: 90%;
    padding: 2em 0 0 0;
    border: none;
  }
  nav .signature img {
    max-width: 220px;
  }
  nav ul {
    display: none;
  }
  nav body.fixed,
  nav html.fixedhtml {
    overflow: hidden;
  }
  nav.shrunk .signature {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  .hamburger {
    display: block;
    position: fixed;
    z-index: 12;
    right: 5.1%;
    line-height: 73px;
    top: 1.1em;
    height: 70px;
    width: 70px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .hamburger_button {
    display: block;
    float: right;
  }
  .hamburger_button_close {
    float: right;
    display: none;
  }
  body.scroll .hamburger {
    opacity: 0.9;
    background: #4100a3;
    background: -webkit-gradient(linear, right top, left top, from(#4100a3), color-stop(24%, #4100a3), to(#faf207));
    background: linear-gradient(-90deg, #4100a3 0%, #4100a3 24%, #faf207 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4100a3",endColorstr="#faf207",GradientType=1);
    padding: 0 0.6em;
    border-radius: 100%;
  }
  body.fixed .hamburger {
    opacity: 0.9;
    background: #4100a3;
    background: -webkit-gradient(linear, right top, left top, from(#4100a3), color-stop(24%, #4100a3), to(#faf207));
    background: linear-gradient(-90deg, #4100a3 0%, #4100a3 24%, #faf207 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4100a3",endColorstr="#faf207",GradientType=1);
    padding: 0 0.6em;
    border-radius: 100%;
  }
  nav.open {
    opacity: 0.9;
    background: #4100a3;
    background: -webkit-gradient(linear, right top, left top, from(#4100a3), color-stop(24%, #4100a3), to(#faf207));
    background: linear-gradient(-90deg, #4100a3 0%, #4100a3 24%, #faf207 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4100a3",endColorstr="#faf207",GradientType=1);
    height: 100vh;
  }
  nav.open section {
    max-width: 100%;
    border: none;
    padding: 0;
    margin-top: 6em;
    min-height: 65%;
  }
  nav.open .signature {
    display: none;
  }
  nav.open ul {
    margin: 1.2em 0 0 0;
    display: block;
  }
  nav.open ul li {
    display: block;
    margin-right: 0;
  }
  nav.open ul li a {
    font-size: 2.7em;
    padding: 0.4em 0.8em;
    font-family: "poppinsextrabold";
    color: #fff;
  }
  nav.open ul li a:visited {
    color: #fff;
  }
  nav.open ul li a:hover, nav.open ul li a:focus {
    color: #fff;
    opacity: 0.8;
  }
  nav.open p {
    display: block;
    clear: both;
    text-align: right;
    right: 2.1em;
    color: #fff;
    font-size: 1.2em;
    position: fixed;
    bottom: 2em;
  }
  nav.open p strong {
    font-size: 1.8em;
  }
  nav.open p a {
    color: #faf207;
    text-decoration: underline;
  }
}

@media all and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  nav section div.row > div {
    width: 100%;
  }
  nav.open ul li {
    display: inline-block;
    width: 48%;
  }
  nav.open ul li a {
    font-size: 2.2em;
    padding: 0.45em 1.2em;
  }
  nav.open p strong {
    font-size: 1.5em;
  }
}

@media all and (min-width: 270px) and (max-height: 666px) and (orientation: portrait) {
  .hamburger {
    width: 50px;
    height: 50px;
    line-height: 3.6em;
  }
  nav .signature img {
    max-width: 200px;
  }
  nav.open ul li a {
    font-size: 2em;
  }
  nav.open p strong {
    font-size: 1.6em;
  }
}

@media all and (min-height: 270px) and (max-height: 360px) and (orientation: landscape) {
  .hamburger {
    width: 50px;
    height: 50px;
    line-height: 3.6em;
  }
  nav .signature img {
    max-width: 200px;
  }
  nav.open ul {
    margin-top: 0.5em;
  }
  nav.open ul li a {
    font-size: 1.5em;
  }
  nav.open p strong {
    font-size: 1.3em;
  }
}

/* Posts and pages
--------------------------------------------- */
.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0;
}

/* Media
--------------------------------------------- */
/* Galleries
--------------------------------------------- */
header {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat-y;
  background-color: #4E00A9;
  height: 800px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header p {
  line-height: 2em;
  color: #cccccc;
}

header p strong {
  font-size: 1.5em;
  color: #fff;
}

.animate_header {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat-y;
  background-color: #4E00A9;
  animation: animate_header 5s linear infinite;
  animation-direction: alternate;
  -webkit-animation: animate_header 5s linear infinite;
  -webkit-animation-direction: alternate;
  position: absolute;
  height: 800px;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

header .flexbox-contaniner {
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  header, .animate_header {
    background-image: url("../img/branding_mac.jpg");
  }
}

@media screen and (max-width: 767px) {
  .animate_header {
    background-image: url("../img/branding_iphone.jpg");
  }
}

.cf_skills {
  height: 800px;
  height: 100vh;
}

.row-head {
  margin-bottom: 3.4em;
}

h2 span {
  display: inline-block;
  border-bottom: 5px solid;
  padding-bottom: .35em;
}

.row_skills ~ .row_skills {
  margin-top: 1.7em;
}

.row_skills strong {
  font-size: 1.15em;
  line-height: 1em;
}

.row_skills .percentage {
  float: left;
  width: 100%;
  clear: both;
  border: 2px solid #faf207;
  height: 60px;
  position: relative;
}

.row_skills .percentage::before {
  content: '';
  background-color: #faf207;
  position: absolute;
  left: -1px;
  top: 0;
  bottom: -1px;
  width: 0%;
}

.row_skills .percentage.p60::before {
  width: 60%;
}

.row_skills .percentage.p70::before {
  width: 70%;
}

.row_skills .percentage.p80::before {
  width: 80%;
}

.row_skills .percentage.p85::before {
  width: 85%;
}

.row_skills .percentage.p90::before {
  width: 90%;
}

.row_skills:nth-child(2n) .percentage {
  border-color: #4E00A9;
}

.row_skills:nth-child(2n) .percentage::before {
  background-color: #4E00A9;
}

.row_skills .col-sm-4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cf_folio h3 {
  float: right;
  position: relative;
  text-transform: uppercase;
  padding: .7em 1.6em .4em;
  top: -38px;
  z-index: 3;
}

footer {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat-y;
  background-color: #4E00A9;
  animation: animate_bg_only 5s linear infinite;
  animation-direction: alternate;
  -webkit-animation: animate_bg_only 5s linear infinite;
  -webkit-animation-direction: alternate;
  height: 800px;
  height: 100vh;
  overflow: hidden;
}

footer h2 {
  font-size: 67px;
}

footer img {
  max-width: 300px;
}

footer p {
  clear: both;
  font-size: 1.25em;
  letter-spacing: 0.04em;
  position: relative;
  z-index: 5;
}

footer p small {
  font-family: "poppinsmedium";
  display: inline-block;
}

footer p small:hover {
  background-color: #faf207;
  color: #121212;
}

@media screen and (min-width: 768px) {
  footer {
    background-image: url("../img/coffee_footer_mac.png");
  }
}

@media screen and (max-width: 767px) {
  footer {
    background-image: url("../img/coffee_footer_iphone.png");
  }
}

.slider {
  float: left;
  width: 100%;
  clear: both;
}

@media all and (min-width: 1000px) and (max-width: 1299px) {
  .center {
    max-width: 960px;
  }
  .flexbox-contaniner {
    max-width: 960px;
  }
  .flexbox-table-content {
    padding: 2em;
  }
  nav section {
    max-width: 960px;
    padding-top: 1em;
  }
  nav .signature img {
    max-width: 360px;
  }
  nav ul {
    margin-top: 1.6em;
  }
  nav ul li {
    margin-right: 2em;
  }
  body {
    font-size: 22px;
  }
  h1,
  footer h2 {
    font-size: 2.3em;
    line-height: 1.1em;
  }
  h3 {
    font-size: 1.6em;
  }
  .row_folio .thumb {
    min-height: 200px;
  }
  .row_skills ~ .row_skills {
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .cf_spacer {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .cf_spacer {
    padding-top: 0;
  }
  .row_skills ~ .row_skills {
    margin-top: 2.5em;
  }
  .row_skills .percentage {
    height: 80px;
  }
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
  nav section {
    padding-top: 1em;
  }
  nav .signature img {
    max-width: 400px;
  }
  .row_folio .thumb {
    min-height: 380px;
  }
}

@media all and (min-width: 1600px) {
  .cf_spacer_border {
    padding-top: 0;
  }
}

@media all and (min-width: 1920px) {
  body {
    font-size: 25px;
  }
  .cf_spacer_border {
    display: none;
  }
  .flexbox-table-content {
    padding: 6em;
  }
}

@media all and (min-width: 768px) and (max-width: 999px) and (orientation: portrait) {
  .center {
    max-width: 730px;
  }
  .flexbox-contaniner {
    max-width: 730px;
  }
  .flexbox-table-content {
    padding: 1em;
  }
  nav .signature img {
    max-width: 320px;
  }
  body {
    font-size: 21px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em;
  }
  .row_folio .thumb {
    min-height: 180px;
  }
  .row_skills > div {
    width: 100%;
    padding-bottom: .1em;
  }
  footer h2 {
    font-size: 1.8em;
    line-height: 1.1em;
  }
}

@media all and (min-width: 270px) and (max-width: 767px) and (orientation: portrait) {
  .center {
    max-width: 90%;
  }
  .flexbox-contaniner {
    max-width: 90%;
  }
  .flexbox-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexbox-item + .flexbox-item {
    text-align: left;
    position: absolute;
    bottom: 2em;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    height: auto;
  }
  .flexbox-content .center {
    width: 100%;
  }
  .cf_spacer {
    padding-top: 0;
  }
  .flexbox-tabel-cell {
    display: table-row;
    height: 50%;
    height: 50vh;
    width: 100%;
  }
  .flexbox-table-content {
    padding: 0 1.7em 0 1.7em;
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  .flexbox-tabel-cell + .flexbox-tabel-cell .flexbox-table-content {
    text-align: left;
  }
  header {
    position: relative;
  }
  header p strong {
    font-size: 1.35em;
  }
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.2em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.4em;
  }
  .row_folio .thumb {
    min-height: 150px;
  }
  .row-head {
    margin-bottom: 3em;
  }
  .row_skills > div {
    float: left;
    width: 100%;
    clear: both;
  }
  .row_skills {
    position: relative;
  }
  .row_skills:nth-child(2n) strong {
    color: #fff;
  }
  .row_skills strong {
    position: absolute;
    top: 1.1em;
    z-index: 3;
    left: 1.5em;
  }
  .cf_folio h3 {
    top: -1em;
  }
  footer h2 {
    font-size: 2em;
    line-height: 1.1em;
  }
  footer img {
    max-width: 235px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  footer p {
    font-size: 1em;
  }
  footer p strong {
    font-size: 1.3em;
  }
}

@media all and (min-width: 270px) and (max-height: 699px) and (orientation: portrait) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.3em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  .row-head {
    margin-bottom: 2em;
  }
  .row_skills .percentage {
    height: 50px;
  }
  footer h2 {
    font-size: 1.5em;
    line-height: 1.3em;
  }
  footer img {
    max-width: 200px;
  }
}

@media all and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  .center {
    max-width: 90%;
  }
  .flexbox-contaniner {
    max-width: 90%;
  }
  .flexbox-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexbox-item + .flexbox-item {
    text-align: left;
    position: absolute;
    bottom: 2em;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    height: auto;
  }
  .flexbox-content .center {
    width: 100%;
  }
  .cf_spacer {
    padding-top: 0;
  }
  .flexbox-tabel-cell {
    display: table-row;
    height: 50%;
    height: 50vh;
    width: 100%;
  }
  .flexbox-table-content {
    padding: 0 1.7em 0 1.7em;
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  .flexbox-tabel-cell + .flexbox-tabel-cell .flexbox-table-content {
    text-align: left;
  }
  header {
    position: relative;
  }
  header p strong {
    font-size: 1.35em;
  }
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 1.8em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  .row_folio .thumb {
    min-height: 180px;
  }
  .row-head {
    margin-bottom: 2em;
  }
  .cf_skills {
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cf_skills .flexbox-contaniner,
  .cf_skills .flexbox-content {
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .row_skills .percentage {
    height: 50px;
  }
  .row_skills > div {
    float: left;
    width: 100%;
    clear: both;
  }
  .row_skills {
    position: relative;
  }
  .row_skills:nth-child(2n) strong {
    color: #fff;
  }
  .row_skills strong {
    position: absolute;
    top: 1.1em;
    z-index: 3;
    left: 2em;
  }
  .cf_folio h3 {
    top: -1em;
  }
  footer h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    padding-right: 10em;
  }
  footer img {
    max-width: 180px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  footer .thumb {
    float: left;
    width: auto;
  }
  footer p {
    font-size: 1.1em;
    clear: none;
    margin-left: 200px;
    margin-top: 45px;
  }
  footer p strong {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=style.css.map */
